<main class="appMyroutinesContainer">
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="trash" viewBox="0 0 448 512">
      <path
        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
      />
    </symbol>
    <symbol id="info" viewBox="0 0 448 512">
      <path
        opacity="1"
        fill="#1E3050"
        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
      />
    </symbol>
  </svg>

  <section id="modalContainer" [ngStyle]="{ visibility: showModal }">
    <div id="modalContent">
      <div>
        <span class="close" (click)="showModal = 'hidden'">&times;</span>
        <h3>{{ modalDetails.title }}</h3>
      </div>
      <div>
        <p>{{ modalDetails.description }}</p>
      </div>
      <div id="modalData">
        <div>
          <h5>Ejercicios</h5>
          <ul>
            @for(exercise of modalDetails.exercises; track exercise.activity){
            <li>{{ exercise.activity }} - {{ exercise.directions }}</li>
            }
          </ul>
        </div>
      </div>
    </div>
  </section>

  <h1>Mis rutinas</h1>
  <section class="myroutinesContainer">
    @for(routine of routines; track routine.workoutId){
    <div class="routineCard">
      <img src="/assets/dumbbell-solid.svg" class="card-img-top" alt="..." />
      <div class="cardBody">
        <h5 class="cardTitle">{{ routine.title }}</h5>
        <p class="card-text">{{ routine.author }}</p>
        <button
          class="getDetails"
          (click)="
            showDetails(routine.title, routine.description, routine.exercises)
          "
        >
          <svg class="bi pe-none me-2" width="32" height="28">
            <use xlink:href="#info" />
          </svg>
        </button>
        <button
          class="deleteFromMyroutine"
          (click)="removeWorkout(routine.workoutId)"
        >
          <svg class="bi pe-none me-2" width="32" height="28">
            <use xlink:href="#trash" />
          </svg>
        </button>
      </div>
    </div>
    }
  </section>
</main>
